// Responsive
// Adjustments to type sizes, grids, and images.
@media all and (max-width: 600px) {
    table.abouttable td, table.bordered, table.productstable, table.plain td {
		float:left;
		border-bottom: none;
		border-top: none;
	}
}

/* header responsiveness */
@media all and (max-width: 650px) {
	.portlet-static-topnav {
		display:none;
	}
	.lefthead {
		width:75%;
	}
	.righthead {
		width:25%;
		float:none;
		margin-top: 10px;
		margin-bottom: 10px;
		.searchbar {
			text-align:left;
		}
	}
}
@media all and (max-width: 481px) {
	.lefthead {
		width:90%;
	}
	.righthead {
		width:10%;	
	}
}
/* slider responsiveness */
@media all and (max-width: 700px) {
	#paralax {
		display: none;
	}

	
}
@media all and (max-width: 655px) {
	#banner {
		display:none;
	}
}

/* front page portlets responsive */ 
@media all and (max-width: 776px) {
		.hp-twocolfeed_view{
			.frontaside, .frontmain, .webkit .frontaside {
				margin-right: 0px;
			}
			.frontmain, .frontaside {
				width:100%;
				display: inline-block;
			}
			.frontaside {
				float:none;
			}
		}
		.template-hp-ctafeed_view {
			div.width-1\:3 {
				width:98%;
			}
			div.cell {
				float:none;
			}
			div.position-1\:3, div.position-2\:3 {
				margin-left:-98.545%;
			}
		}
	}
@media all and (max-width: 400px) {
	.frontmain img {
		float:none;
		display:inline;
	}
}

/* Side bar responsive */
@media all and (max-width: 800px) {
	.portletstatic {
		margin-top: 0px;
	}
	.portaltype-news-item .maincol {
		width:100%;
	}
	.portlet_column {
		width:100%;
	}
	.template-fg_base_view_p3 .portlet_column, .template-manage-portlets  .maincol, .template-member_search_form .maincol, .template-file_view .maincol, .template-folder_summary_view .maincol, .template-plone-app-collection-interfaces-icollection .portlet_column, .template-summary_view .portlet_column, .portaltype-collection .portlet_column, .template-twocol_view .portlet_column, .template-event_view .portlet_column {
		@include contentbox;
		padding-top:0px;
		.portletstatic {
			padding-top:0px;
		}
	}
	.template-fg_base_view_p3 .maincol, .template-manage-portlets  .maincol, .template-member_search_form .maincol, .template-file_view .maincol, .template-folder_summary_view .maincol, .template-plone-app-collection-interfaces-icollection .maincol, .template-summary_view .maincol, .template-event_view .maincol, .portaltype-collection .maincol, .template-twocol_view .maincol {
		width:100%;
	}
}
// nav

@media all and (max-width:700px) {
	ul#nav {
		width:98%;
	}
}

@media all and (max-width:650px){


ul#nav {
	display:none ;
}
#nav-toggle a {
  float: right;
  text-align: left;
  background-color: #3b444e;
  background: url("../images/navopen.png");
  background-repeat: no-repeat;
  color: #fff;
  padding: .5em;
  margin: 0;
  position: absolute; 
  top: 1.55em; 
  right: 15px;
  display:block;
  line-height: 1.5em;
  font-size: 1.75em;
  width: 2.25em; 
  height: 3.25em;
  text-decoration: none;
}
body.nav-open #nav-toggle a {
	background: url("../images/navclose.png");
  	background-repeat: no-repeat;
  	top: 1.55em; 
  	right: -5px;
}
body {
	@include navtrans;
	position: relative;
	
}
body.nav-open  {
  @include navtrans;
  right: 85%;
  margin-left: -85;
  width: 100%;
}
ul#nav {
  clear: both;
  overflow: hidden;
  width: 85%;
  position: absolute;
  top: 0;
  right: -185%;
  display: none;

}
ul#nav.open {
  right: -85%;
  height: 100%;
  display: block;
  padding-top: 0em;
  overflow-y:visible;
  overflow-x:visible;

}
ul#nav.open li {
	display: block;
	background-color: $primary-color;
	padding: .5em 1em;
	border-bottom: solid 1px rgba(51, 83, 121, 0.95);
	list-style-image: square;
	a {
		color:#fff;
		border:none;
	}
	a:hover {
		color:$secondary-color;
	}
}

ul#nav.open ul.submenu {
	display: block;
	background-color: #fffcf0;
	position: relative;
	margin-left: 2.5%;
	top:0px;
	li {
		font-size: 1em;
		border:none;
		text-align: left;
	}
}

}
