@charset "UTF-8";
/* CSS Document */


* {box-sizing: border-box;}

body {
	margin: 0 auto; 
	font-size:62.5%;
}

img {
	max-width:100%;
}
img.recentnews_image {
	float: left;
	padding-bottom:1em; 
	padding-right:1.5em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.5em;
	color: #99a2a4;
}
.webkit h1, .webkit h2, .webkit h3,
.webkit h4, .webkit h5, .webkit h6 {}


h1 {
	font-size: 2.4em;
}
h2 /*main news and cta title*/ {
	font-size: 2.4em;
	margin-top: .5em;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;
	letter-spacing: .015em;
}
h3 /*smaller news titles */ {
	font-size: 2em;
	margin-top: .5em;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;
	letter-spacing: .015em;
}
h4 /*Date*/{
	font-family: "futura-pt",sans-serif;
	font-style: italic;
	font-weight: 400;
}

h6/*white bold*/ {
	color:#fff;
	font-size: 1.8em;
	line-height: .75em;
	margin-top: .4em;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 700;
}
p {
	font-size:1.5em;
	color:#99a2a4;
	line-height:1.4em;
	font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	margin-top:.4em;
}
#footer_contents p {
	color:#fff;
	font-size: 1.2em;
}
#spotlight_wrapper p {
	color:#fff;
	font-size: 1.6em;
	margin-top: .5em;
}




/* Header */
header {
	background-color:#efa11f;
	height:auto;
	width:100%;	
}
#header_contents {
	margin:0 auto;
	width:80%;
	max-width:1200px;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}
#lefthead{
	width:59%;
	display:inline-block;
}
span#headlogo {
	font-size:2em;
	color:#fff;
	line-height: 1.1em;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 700;
}
span#byline {
	color:#fff;
	font-family: "chaparral-pro-display",sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 1em;	
}
#righthead{
	width:40%;
	display:inline-block;
	float:right;
	text-align:right;
	padding-top: .2em;
}
#righthead a, #righthead p {
	color:#fff;
	font-size: 1.2em;
	text-decoration:none;
	margin: 1.2em 0;
}
#righthead a:hover {
	color:#000;
}
#portal-searchbox {
	clear:none;
	float:none;
	font-size: 100%;
	text-align: right;
	margin:0px;
}
.searchSection {
	color:#fff;
}
#righthead img {
	float:right;
}



/* Nav */ 
nav {
	max-width:1200px;
	margin-left: 0em;
	margin-top: 1em;
}

ul#nav {
	display:inline-block;
	margin:0px;
	padding:0px;
	float:left;
	width:100%;
}
ul#nav li {
	display:inline;
	margin-left:0px;
	padding-right:4%;
}

ul#nav li a {
	color:#fff;
	text-decoration:none;
	font-size:2.0em;
	font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}
ul#nav li a:hover {
	color: #946fa2;
}
	

/* paralax */
#paralax {
	height:auto;
	width:100%;
	background-color: #efa11f;
}
.slider-wrapper {
	overflow: hidden;
	max-width: 2100px;
	margin: 0 auto;
}


/* main contents */

.maincol {
	margin:6em auto;
	width:100%;
	max-width:1200px;
}

.section-front-page h1.documentFirstHeading {
	display: none;
}
.section-front-page .documentDescription {
	display: none;
}

	/* call to actions */

.cta {
	width:21%;
	display:inline-block;
	vertical-align:top;
	margin-right:5.08%;
	text-align: center;
}
.support {
	margin-right:0px;
}

/* spotlight bar */
#spotlight {
	background-color:#19a9da;
	height:auto;
	width:100%;
	padding-top: 2em;
	padding-bottom: 3.5em;

}

#spotlight_wrapper {
	margin:0 auto;
	width:80%;
	max-width:1200px;

}
.spot {
	display: inline-block;
	vertical-align: top;
}

.left {
	width: 47%;
}
#spot_left_text {
	width:60%;
	display: inline-block;
	vertical-align: top;
}
#spot_left_buttons {
	width:39%;
	display: inline-block;
}
.spot_button {
	text-align: center;
	width:80%;
	background-color:#5ccbf0;
}


.right {
	width: 47%;
	float:right;
}
#spot_right_text {
	width:50%;
	vertical-align: top;
	display: inline-block;
}
#spot_right_image {
	display: inline-block;
	float: right;
	position: relative
}
a.seemore {
	background-color: #f4d122;
	width:25%;
	margin: 0px;
	padding: .3em;
	font-weight: bold;
	position: absolute;
	z-index: 999999;
	bottom:0%;
	left: 73%;
	opacity: .9;
}
a#seemore:hover {
	background-color: #946fa2;
	color:#fff;
}
/*news on homepage */

.newscol {
	width:100%;
	max-width:1200px;
	margin:6em auto;
}
#mainnews {
	width:46%;
	display: inline-block;
	vertical-align: top;
}
#recentnews {
	width:47%;
	display: inline-block;
	float:right;
}
.recent_news_class {
	vertical-align: top;
	margin-bottom: 2em;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:75px;
    display:none;
    text-indent:-9999px;
    background:url('../images/icon_top.png') no-repeat;
}
/* footer */
footer {
	background-color:#826cb0;
	height:200px;
	width:100%;
	padding-top: 2em;
}
#footer_contents {
	margin:0 auto;
	width:80%;
	max-width:1200px;
}
.bottomcol {
	display:inline-block; 
	width:23.3%;
	height:auto;
	vertical-align: top;
	margin-right: 2%;
}
.bottomcol.last {
	margin-right: 0px;
}
#footer_contents ul {
	margin-top: .5em;
}
#footer_contents ul li {
	display: inline-block;
    font-size: 0.75em;
    margin-right: 4%;
    vertical-align: top;
    width: 45%;
    color:#fff;
	font-size: 1.2em;
}
/* browser comp */
.webkit body {
	letter-spacing: .5px;
}

