/* misc */
.main .content img {max-width: 100%;}
.main .rightcol a:link, .main .rightcol a:visited {border-bottom: 0px;}


/* --- exec com --- */
.subsection-academics-executive-committee .main .content table {width: 100%; margin-bottom: 2.5em !important;}
.subsection-academics-executive-committee .main .content td {width: 50%;}

.subsection-academics-executive-committee .main .rightcol .portletCollection h4 {margin-top: .25em;}
.subsection-academics-executive-committee .main .rightcol .portletCollection div {display: inline-block; width: 40%;}
.subsection-academics-executive-committee .main .rightcol .portletCollection img,
.subsection-academics-executive-committee .main .rightcol .portletCollection p {display: none;}
.subsection-academics-executive-committee .main .rightcol .portletCollection a {display: inline-block;}
.subsection-academics-executive-committee .main .content {min-height: 1200px;}


/* ---- directory ---- */
.subsection-directory-managers table {width: 100%; margin-bottom: 2.5em !important;}
.subsection-directory-managers td {width: 33%;}

.subsection-directory-directory-org #content table, 
.subsection-directory-directory-alpha #content table {width: 100%; margin-bottom: 2.5em;}
.subsection-directory-directory-org #content table td, 
.subsection-directory-directory-alpha #content table td,
.subsection-directory #content table td,
.main .content table.lotsotext td {border-top: 1px solid #CACACA;}
.main .content table.lotsotext td {font-size: .9em; padding-bottom: 1.5em;}
.main .content table.lotsotext {width: 100%;}

.subsection-directory-directory-org table td.col-33, 
.subsection-directory-directory-alpha table td.col-33,
.col-33 {width: 33%;}
.col-25 {width: 25%;}
.col-50 {width: 50%;}
.col-66 {width: 66%;}

table.table-100 {width: 100%;}

.subsection-directory-fsd .main .content {/* width: 679px; padding-right: 10px;*/ width: 69%; padding-right: 1%;}

.subsection-directory-fsd #breadcrumbs-3 {display: none;}
#content .facultyStaffDirectory .listing {
	display: inline-block; width: 47%;
	min-height: 200px;
	margin-right: 1em;
}

#content .facultyStaffDirectory .fsd-headshot {
	display: inline-block;
	margin-right: .25em;
	vertical-align: top;
	width: 35%;
}
#content .facultyStaffDirectory .fsd-details {
	display: inline-block;
	vertical-align: top;
	width: 60%;
}
#content .facultyStaffDirectory .fsd-details .jobTitle {font-size: .85em;}
.template-person_view #content .facultyStaffDirectory .headshot {float: right; padding-right: 10%;}


/* ---- students ---- */
.subsection-grad .main .content .ugmajorsbox li {margin-right: 0;}

.template-search nav.section {display: none;}

.menuitem {
	display: inline-block; 
	vertical-align: top; 
	width: 29%; 
	margin-right: 5%;
	margin-bottom: 25px;
}
	.menuitem.rightedge {margin-right: 0;}
.main .content .menuitem h3 {
	color: #004c85;
	font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
	font-size: 1.75em;
}
.main .content .menuitem p {
	font-size: .85em;
	margin-right: 0;
}
.portlet-collection-departmental-majors img {display: none;}
.subsection-publications .menuitem {width: 28%; margin-right: 4%;}


/* ---- portlets below ---- */

#portlets-below dl.portlet dt {
	color: rgba(133, 133, 133, 0.8);
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: "futura-pt",Futura Std,Futura,Arial,sans-serif;
	font-weight: 100;
	background: transparent;
	border-left: 5px solid rgba(66, 92, 126, 0.9);
	line-height: 2em;
	padding: 0;
	margin-bottom: 1.25em;
}
#portlets-below dl.portlet dt a,
#portlets-below dl.portlet.portletCollection dt span.portletTitle,
#portlets-below dl.portlet.portletStaticText dt {
	padding: 0 0 0 15px;
}

#portlets-below dl.portlet {
	width: 35%; 
	float: left;
	vertical-align: top;
	margin-bottom: 4em;
	margin-right: 10%;
	margin-top: 2em;
}
	/*dl.portlet.portlet-collection-departmental-majors,
	dl.portlet.portlet-collection-related-majors {width: 35%;}*/

	dl.portlet.portlet-collection-departmental-majors p,
	dl.portlet.portlet-collection-related-majors p,
	dl.portlet.portlet-collection-related-majors a img,
	dl.portlet.portlet-collection-departmental-majors a img {display: none;}
	dl.portlet-collection-news .portletFooter, dl.portlet-collection-faculty .portletFooter {text-align: right;}
	#portlets-below dl.portlet.portlet-collection-news {width: 40%;}

	.portlet-collection-news div.box {clear: both; margin-bottom: 2em;}

	.portlet-collection-news img {
		height: 70px;
		float: left;
		margin: 0 10px 0 0;
		border: 3px solid #fff;
	}
	.main .content #portlets-below .portlet-collection-news p,
	.main .content #portlets-below .portletStaticText p,
	.main .content #portlets-below .portletStaticText li {margin-right: 0;}
	.portlet-collection-news .details:after {content: ' — ';}

	.portlet-collection-faculty img {width: 95%;}
	.portlet-collection-faculty .box {width: 49%;}

	#portlets-below dl.portlet.portletStaticText .portletItem {font-size: 1.25em;}




/* aggie amb */

.main .rightcol .portlet-static-aggie-ambassadors li a {font-size: 1.2em;}
.subsection-current-clubs-aa .main .content {min-height: 1400px;}



/* menu item for dept page */
	.template-menu_view .main .content {
		/* width: 679px; */ padding-right: 10px;
		width: 68.85%;
	}
	.template-menu_view .menuitem {
		width: 48%;
		margin-right: 1%;
		margin-bottom: 10px;
		height: 135px;
		overflow: hidden;
		position: relative;
	}
		.template-menu_view .menuitem h4 a {display: block;}
	.template-menu_view .main .content .menuitem h4,
	.subsection-museums .main .content .menuitem h4 {
		font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
		font-weight: 600;
		position: absolute;
		bottom: 8px; left: 0px;
		z-index: 10;
		width: 70%;
		text-shadow: 0px 0px 10px rgba(33,33,33,.7);
		background: rgba(33,33,33,.5);
		padding: 3px 5px 5px 10px;
	}
	.template-menu_view .main .content .menuitem h4 a:link,
	.template-menu_view .main .content .menuitem h4 a:visited,
	.template-menu_view .main .content #content .menuitem h4 a:hover,
	.template-menu_view .main .content .menuitem h4 a:active {
		color: #fff !important;
	}
	.template-menu_view .menuitem img, .subsection-programs .menuitem.crop img {
		max-width: 768px;
		height: 100%;
		width: auto;
		overflow: hidden;
		position: relative;
		left: -50%;
	}
	.subsection-events .menuitem img, 
	.subsection-museums .menuitem img, 
	.subsection-programs .menuitem img {
		height: auto;
		width: 100%;
		overflow: hidden;
		left: 0;
	}

/* menu item for museums */
	.subsection-museums .menuitem,
	.subsection-events .menuitem {
		width: 90%;
		height: 130px;
		overflow: hidden;
		position: relative;
	}
	.subsection-museums .main .content .menuitem h4 a:link,
	.subsection-museums .main .content .menuitem h4 a:visited,
	.subsection-museums .main .content #content .menuitem h4 a:hover,
	.subsection-museums .main .content .menuitem h4 a:active {
		color: #fff !important;
	}



/* ---- news section ---- */

.rightcol .portletSearch form#livesearch1 {padding-left: 20px;}

.publication {
	display: inline-block;
	width: 28%;
	margin: 0 2em 4em 0;
	font-size: .85em;
	vertical-align: bottom;
	line-height: 1.2em;
}
.subsection-articles-topic .documentByLine {display: none;}
.subsection-articles-topic #content dt {
	width: 48%; margin-right: 1%; 
	padding: 3px 0;
	display: inline-block;
	vertical-align: top;
}
.subsection-articles-topic #content dt a {padding: 3px 0;}

.outlookSquare {width: 32%; display: inline-block; min-height: 300px; vertical-align: top; text-align: center;}
.outlookSquare h2 {margin-bottom: .5em;}

	/* hide "Files folder" in year archive */

	.portaltype-folder.subsection-articles #content-core dt:first-child {display: none;}




/* ---- jobs section ---- */
.subsection-asp-open .main .documentByLine {display: none;}
.subsection-asp-open.template-tabular_view table.listing td:last-child {
	width: 100px; 
	overflow: hidden; 
	height: 1em; 
	display: inline-block;
	margin-right: 0;
}
.subsection-asp-open.template-tabular_view table.listing th:nth-child(2) {
	overflow: hidden;
	text-indent: -100px;
}
.subsection-asp-open.template-tabular_view table.listing th:nth-child(2):after {
	content: ' Department';
	padding-left: 20px;
}
.subsection-asp-open h1.documentFirstHeading {margin-bottom: 1em;}
.subsection-asp-open-categories .main #content li {font-size: 1.5em;}
.subsection-resources-aes-reeport .main .content {min-height: 1200px;}
.subsection-resources-aes-reeport .portlet-static-aes-menu {display: none;}

.subsection-business-commencement-menu .portlet-static-commencement-training {display: none;}
.subsection-business-commencement .main .content {min-height: 1000px;}
.subsection-giving .main .content {min-height: 850px;}
.subsection-giving-impacts.template-newsitem_view .main .content {min-height: 1000px;}


/* edit forms */
.portlet-static-website-review {background: rgba(255,155,155,.5); padding-bottom: 1em;}

.ArchetypesMultiSelectionWidget .ArchetypesMultiSelectionValue {display: inline-block; width: 48%;}
.ArchetypesMultiSelectionWidget .ArchetypesMultiSelectionValue label,
.ArchetypesSelectionWidget label {padding-left: .5em; font-size: .8em;}
input[type="submit"] {font-size: 4em;}


