
/* ----- news items ----- */
.template-newsitem_view #content div.documentByLine {
	display: block;
	color: rgb(36,71,109);
	font-family: Georgia, Berkeley, serif;
	font-weight: bold;
	font-size: .9em;
}

.newsImage, #content img, #content iframe {
	box-shadow: 0px 0px 13px rgba(45,45,44,.1); 
	border: 4px solid #fff !important;
}
#content div.newsImageContainer p.discreet {
	background-color: transparent; 
	color: rgba(92,92,92,.8);
	font-weight: lighter;
	font-style: italic;
	top: 0;
	width: 290px;
	padding: 10px 5px;
	font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
}
.main .rightcol div.LSBox, .main .rightcol div.LSBox div {margin-top: 0;}
.rightcol .search form#livesearch1 {padding-left: 20px;}


.related .topics li:first-child {display: none;}

.rightcol .share li {padding: 3px 0; font-weight: 300; font-size: .9em;}
.rightcol .share li a,
.rightcol .share .twitter-share-button {padding-left: 20px;}


.newsheader {display: none;}
.subsection-publications .newsheader {
	display: block;
	background: repeat-x url(../img/bg-news.png) 0 6px; 
	height: 50px;
	margin-bottom: -50px;
	position: relative;
	z-index: 5;
	top: -1px;
}
.newsheader .portlet-static-header {
	width: 960px; background: url(../img/bg-newsheader.png);
	height: 32px;
	padding-top: 18px;
	margin: 0 auto;
	/* border-right: 1px solid rgba(127, 145, 164, 0.9);
	box-shadow: 0 0 8px rgba(45, 45, 44, 0.1); */
}
.newsheader h2 {
	margin-top: 0; 
	margin-left: 22px;
	font-weight: 300; 
	font-size: 1.4em; 
	color: #fff;
	letter-spacing: 1px;
}
.newsheader h2 img {padding-bottom: 5px;}


.subsection-publications-currents .main .content {padding-top: 53px;}

.subsection-publications-currents.template-newsitem_view #content div.documentByLine,
.subsection-publications-currents .related {display: none;}
.subsection-publications-currents h1.documentFirstHeading {font-size: 1.25em; text-align: right; position: relative; z-index: 20; top: -51px; color: #fff; margin-right: 0;}
.subsection-publications-currents .main .rightcol {padding-top: 103px;}



