/*.slider {height: 266px;}
.portlet-static-nivo {
	width: 1190px; 
	margin: 0 auto;
	position: relative;
}
div.portlet-static-nivo img {
	height: 266px; overflow: hidden; margin-bottom: 0px;
}

 .portlet-static-nivo .nivo-caption {
	position: relative;
	display: block;
	width: 480px; height: 86px;
	font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	border: 0px none;
	text-align: left;
	top: 180px; left: -1074px;
}
.portlet-static-nivo img {
	float: left;
}
.portlet-static-nivo .nivo-caption h4 {
	height: 12px;
	padding: 10px 12px 4px;
	margin-top: 0px;
	background: #a1770f;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .6em;
	letter-spacing: 2px;
	color: #fff;
}
.portlet-static-nivo .nivo-caption h2 {
	margin-top: .6em;
	padding: 0px 10px 12px;
	letter-spacing: .5px;
}
.portlet-static-nivo .nivo-caption a {font-weight: normal;}
*/

.main .news .box.article h4 {font-size: 1em;}



