.slidefeature {height: 266px;}
.portlet-static-nivo {
	width: 1190px; 
	width: 100%;
	margin: 0 auto;
	position: relative;
}
	.portlet-static-nivo .static-slider {}
	.portlet-static-nivo .static-text {position: relative; width: 960px; margin: 0 auto;}

div.portlet-static-nivo img {
	height: 266px; overflow: hidden; margin-bottom: 0px;
	width: 100%; height: auto;
}

#slider.nocaption {position: absolute; top: 0;}

.portlet-static-nivo .nivo-caption {
	position: relative;
	display: block;
	width: 480px; height: 86px;
	font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	border: 0px none;
	text-align: left;
	top: 180px; left: -1074px;
}
	.webkit .portlet-static-nivo .nivo-caption {
		position: absolute;
		top: 180px;
		left: 9%;
	}
	.portlet-static-nivo .static-text .nivo-caption {
		left: 0; position: absolute;
	}
	.portlet-static-nivo .nocaption .nivo-caption {display: none !important;}
.portlet-static-nivo img {
	float: left;
}
.portlet-static-nivo .nivo-caption h4 {
	height: 12px;
	padding: 10px 12px 4px;
	margin-top: 0px;
	background: #a1770f;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .6em;
	letter-spacing: 2px;
	color: #fff;
}
.portlet-static-nivo .nivo-caption h2 {
	margin-top: .6em;
	padding: 0px 10px 12px;
	letter-spacing: .5px;
}
.portlet-static-nivo .nivo-caption a {font-weight: normal;}


.main .news .box.article h4 {font-size: 1em;}

.section-news .main .news .box.large p {font-size: .75em;}
.section-news .main .news .box.gold .leadtext {font-size: .35em;}
.section-news .main .news .box.gold label {font-size: .8em;}
.section-news .main .news .box.gold input.email {
	width: 93%; padding: 8px 5px 6px; 
	color: #5c5c5c; margin-bottom: .5em;
	text-align: center;
}
.section-news .main .news .box.gold input.button {
	background: #143B65; 
	border: 0px; width: 100%; 
	color: #fff; 
	font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 500;
	padding: 3px 0;
	margin-bottom: .5em;
}



.section-outreach .main .news .box.blue .text,
.section-research .main .news .box.blue .text {width: 90%; font-size: 1.1em;}
.section-outreach .main .news .box.blue .text h4,
.section-research .main .news .box.blue .text h4 {font-size: .8em;}
.section-outreach .main .news .box.blue .text h3,
.section-research .main .news .box.blue .text h3 {margin-top: .25em; font-size: 1.5em;}

.section-outreach .main .news .box.gold p,
.section-research .main .news .box.gold p {margin-top: 0em;}
.section-outreach .main .news .box.gold p.leadtext,
.section-research .main .news .box.gold p.leadtext {margin-top: 1em;}




/* ---- student - academics ---- */
.subsection-future-academics .slidefeature {height: 365px;}
.subsection-future-academics .main .news .box.col4 {font-size: 115%; width: 938px;}
.subsection-future-academics .main .news .box.col2 p.aboutacademics {font-size: 92%;}

img[title='Studentfarm'] {
	padding: 13px 0px;
}

.subsection-future-academics .box .col2 .left .masonry-brick {font-size: 115%;}
.subsection-future-academics .majorcaes {
	display: inline-block;
	width: 32.97%;
	vertical-align: top;
}
.subsection-future-academics .majorcaes .es {
	margin-right: 0px;
}
.subsection-future-academics .majorcaes p {
	color:rgba(7, 22, 38, 0.7);
	line-height: 200%;
}
.subsection-future-academics .majorcaes a:hover {
	color:#002855;
}
.subsection-future-academics .main .news .box.col4.gold {
	background-color: #fff;
}


/* ---- students - student life ---- */
.subsection-future-life-student-life .slidefeature {height: 365px;}
.subsection-future-life-student-life .portlet-static-nivo iframe {position: relative; top: -50px; left: -60px;}

