// Feature 
// Styles for feature.html

.main {
	margin-top: 0; 
	position: relative; 
	left: 0px;

	@include breakpoint($small) {left: -20px;}

	.thegoods {padding-top: 20px;}
}

h1.documentFirstHeading {display: none;}

div.portlet-static-nivo {
	width: 100%;
	ul {
		width: 1190px; width: 100%; 
		margin: 0 auto;
		position: relative;
	
		li {
			height: 310px; 
			overflow: hidden; 
			margin-bottom: 0px;
			float: none;
		}
	}
}


.slider {
	height: 250px; width: 1440px; /* what it was before */
	width: 100%;

	@include breakpoint($gigantor) {height: 310px;}

	.text {
		z-index: 500;
		position: relative;
		width: 70%;
		margin: 0px auto;
		@include unresponsive-sizes;
		height: 310px;
		display: block;

		@include breakpoint($small) {left: -20px;}
		@include breakpoint($medium) {max-width: 90%;}
	}
}

.subsection-events-college-celebration {
	.slidefeature .nivo-caption {display: none !important;}
	.slider .text {display: none;}
}

.slidefeature {
	img {
		position: absolute;
		left: 0;
		margin: 0 auto;
		// height: auto;
		// width: 100%;
	}
	.active img {display: none;}
}

.spotlighttext {
	img {
		float: left;
		width: 100%;
	}
}

.main .news .box.article h4 {font-size: 1em;}
.thegoods .portlet-collection-news h4 {font-size: 1.2em; font-weight: normal;}



/*   custom pages   */

.subsection-overview-visit .slider {
	width: auto; overflow: hidden;
	p {margin: 0;}
}

.subsection-future-academics-majors .thegoods,
.subsection-dept .thegoods, 
.subsection-facilities .thegoods {min-height: 1300px;}
.subsection-centers .thegoods {min-height: 800px;}



// Facts and distinctions page

/* facts+distinctionspage */
.fact-distinctions {
	width: 100%;
	@include inline-block(top);
	vertical-align: top;
	// margin-right: 5px;

	h2 {margin-top: 0px; text-align: center; clear: both;}
}

.subsection-overview-facts {
	#content-core {
		.majorcaes {
			@include inline-block(top);
			width: 100%;
			vertical-align: top;

			@include breakpoint($small) {width: 48%; margin: 0 auto;}
			@include breakpoint($large) {width: 30%; margin-right: 1em;}

			h3 {
				font-size: 1em;
				margin-bottom: 10px;
			}
			a:hover {
				color: $ucdavis-blue;
			}
			ul {
				margin: 0 1em !important;
			}
			li {
				color: rgba(7, 22, 38, 0.7);
				font-size: 0.85em;
				font-family: $futura;
				margin-right: 0px;
				margin-bottom: 0.5em;
			}
			&.hs {
				// @include breakpoint($large) {float: right;}
			}
		}
	} // End #content-core

	.main .news .box.col4.gold {
		background-color: #fff;
	}

	/* first bit */
	.firstaward {
		border-bottom: solid 1px #DDDDDD;
	}
	.fact-distinctions {
		p.ranking {
			color: #fff;
			background-color: $dark-gold;
			width: 100px;
			text-align: center;
			border-radius: 50px;
			font-size: 65px;
			margin: 15px auto 15px !important;
		}
		p.rankingtitle {
			font-weight: $heavy;
			text-align: center;
			margin: 0px;
			margin-bottom: 0px;
		}
		p.rankingsum {
			text-align: center;
			margin-right: 0px;
		}
		p.rankingsmaller {
			color: #fff;
			background-color: $dark-gold;
			width: 60px;
			text-align: center;
			border-radius: 40px;
			font-size: 40px;
			margin: 0.5em auto 0 !important;
		}
		p.blue {background-color: rgba($ucdavis-blue, 0.9);}
	} // End .fact-distinctions

	/* second bit */
	.secondaward {
		width: 100%;
		@include inline-block(top);
		vertical-align: top;
		text-align: center;

		@include breakpoint($medium) {width: 45%;}

		.fact-distinctions & ul {
			margin-left: 0px;
		}

		ul li {
			display: inline-block !important;
			width: 49%;
			margin-right: 0px !important;
			margin-bottom: 10px !important;
			vertical-align: top;
			text-align: left;
		}
		p.rankingtitle {
			@include inline-block(top);
			margin-bottom: 20px !important;
			margin-top: 20px !important;
			text-align: center;
			// margin-left: 19%;
		}
	} // End .secondaward
	.firsta {margin-right: 9%;}

	.facts-notes {
		border-top: solid 1px #DDDDDD;
		border-bottom: solid 1px #DDDDDD;
		padding: 10px;
		// margin-left: -25px;
		// margin-right: -57px;
		margin: 0 auto;

		.thegoods & li {
			margin-right: 0px;
			margin-bottom: 5px;
		}
		div.portletStaticText & li {margin-bottom: 1.25em}
	}
} // End -overview-facts

 