// Student section

.subsection-grad .ugmajorsbox li {margin-right: 0;}

.portlet-collection-departmental-majors img {display: none;}


// Aggie Ambassadors
.rightcol .portlet-static-aggie-ambassadors li a {font-size: 1.2em;}
.subsection-current-clubs-aa .thegoods {min-height: 1400px;}