// Button sprites

$icons-spacing:			5px;

@import "../vendor/compass/utilities/sprites";
@import "icons/*.png";
@include all-icons-sprites;

// If you need to change the sprite (i.e. add a new icon)
// re-include line 6 & 7 above, and hide line 21-29 below. 
// Then once SASS recompiles, find the new line that matches 
// the below, put it there, and comment out line 6 & 7 again.
// Firefox can't load the icons when the background-image URL is
// url('/img/whatevs') So it needs to be switched to url(../img/whatevs)

// ... Just kidding, this breaks if you comment out line 5-7. But 
// I think it works fine with the above and the below to correct the URL
// If the sprite map gets updated though, fix line #27 below.


.icons-sprite,.icons-book,.icons-compose,.icons-directions,
.icons-facebook,.icons-flag,.icons-flask,.icons-gear,.icons-gift,
.icons-globe,.icons-heart,.icons-home,.icons-inbox,.icons-info,
.icons-left,.icons-list,.icons-location,.icons-map,.icons-news,
.icons-notebook,.icons-olives,.icons-openbook,.icons-phone,.icons-right,
.icons-star,.icons-trophy,.icons-twitter,.icons-user,.icons-users {
	background-image:url(../img/icons-sa803e70a7b.png);
	background-repeat:no-repeat;
}

.main .news .box.actions, .main .news .box.blue .buttons {

	a, a:link {
		display: block;
		width: 100%;
		background-color: $dark-gold;
		border: 3px solid $darker-gold;
		min-height: 54px;
		font-family: $futura;
		line-height: 1.1em;
		padding-left: 60px;
		padding-top: 0.35em;
		margin-top: 0.5em;
		color: #fff;
		@include uppercased(2px, $bold);

		strong { 
			display: block;
			font-size: 1.25em;
			letter-spacing: 1.5px;
		}
	}

	a:visited {color: #fff;}

	a:hover, a:active {
		background-color: lighten($dark-gold,5);
	}

}

.main .news .box.blue .buttons {
	clear: both; 

	a, a:link {
		background-color: $header-blue;
		border: 3px solid $dark-blue;
		display: inline-block;

		@include breakpoint($lil) {width: 48%; margin-right: 1%;}

		strong {
		}
	}

	&.full {
		clear: none;

		.subsection-connect-main & {width: 100%;}

		a, a:link {
			@include breakpoint($lil) {width: 100%; margin-right: 0;}
			.subsection-connect-main & {padding-top: 1em;}
		}
	}

	a:visited {color: #fff;}

	a:hover, a:active {background-color: lighten($header-blue,5);}
}





