// Scroll up button

.scrollup{
    width: 40px;
    height: 40px;
    @include opacity(0.3);
    position: fixed;
    bottom: 50px;
    right: 10%;
    display: none;
    text-indent: -9999px;
    background: url('../img/icon-top.png') no-repeat;
}