// Components
// Modular components and their states. 
// These pieces should be able to be used anywhere. Things like: icons, buttons, messages, etc.

// lists 

#content ul.twocollist {
	li {
		display:inline-block;
		width:45%;
	}
}

//buttons 
p.greenbutton {
	font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.template-plone-app-collection-interfaces-icollection p.greenbutton {
	font-size: 1.1em;
	color:#fff;
}
p.greenbutton a:link, p.greenbutton a:visited, p.greenbutton a:active {
	color:#fff;
}
#content p.greenbutton a:link, #content p.greenbutton a:visited {
	color:#fff;
	width:25%;
	background-color: #787e12;
	padding: .35em .7em;
}
.webkit #content p.greenbutton a:link, .webkit #content p.greenbutton a:visited {
	padding: .45em;
}
#content p.greenbutton a:hover {
	color:#AAAF4C!important;
}
.portletstatic p.greenbutton {
	margin-top: 1em;
}
.portletstatic p.greenbutton a:link {
	color:#fff;
	width:25%;
	background-color: #787e12;
	padding: .35em .7em;
	font-size: .9em;
}
.portletstatic p.greenbutton a:hover {
	color:#AAAF4C!important;
}
.frontevents p.greenbutton {
	margin-top: 1em;
}
.frontevents p.greenbutton a:link {
	color:#fff;
	width:25%;
	background-color: #787e12;
	padding: .35em;
	font-size: .9em;
}
.frontevents p.greenbutton a:hover {
	color:#AAAF4C!important;
}
.frontsupport p.greenbutton {
	margin-top: 1em;
	float:right;
}
.frontsupport p.greenbutton a:link {
	color:#fff;
	width:25%;
	background-color: #787e12;
	padding: .35em .5em ;
}
.frontsupport p.greenbutton a:hover {
	color:#AAAF4C!important;
}

//tables

table.abouttable tbody, table.bordered tbody {
	padding: 10px;
}

table.abouttable, table.bordered, table.productstable {
	padding-bottom: 2.5em;
    width: 100%;
}
table.plain th, table.plain td {
	font-family: "futura-pt",Futura Std,Futura,Arial,sans-serif;
    font-style: normal;
    border-left: none;
    border-right: none;
    font-size: 1.2em;
}
table.abouttable td, table.bordered td, table.productstable td {
	color: #282C2D;
	vertical-align:top;
    font-family: "futura-pt",Futura Std,Futura,Arial,sans-serif;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 400;
    padding: 1.2em;
    border-top-color: #CACACA;
    border-top-style: solid;
    border-top-width: 1px;
}
table.abouttable td, table.productstable td{
	font-size: 1em
}
table.abouttable th {
	color: $primary-color;
    font-family: "futura-pt",sans-serif;
    font-size: 1.9em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 0.75em;
    margin-bottom: 0.6em;
    margin-top: 0.4em;
    text-transform: uppercase;
    padding-bottom: 1em;
    padding-top: .5em;
}

#content table.abouttable {
	margin-bottom: 2em;
}

/*accordion*/
/* Icon font for arrow icons */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon_arrows/icomoon.eot');
	src:url('../fonts/icomoon_arrows/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon_arrows/icomoon.woff') format('woff'),
		url('../fonts/icomoon_arrows/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon_arrows/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Iconfont by Icomoon http://icomoon.io/ */


/* Accordion style */
#content ul.cbp-ntaccordion {
	list-style: none;
	margin: 0;
	padding: 0;
}

#content ul.cbp-ntsubaccordion {
	list-style: none;
}

.cbp-ntaccordion .cbp-nttrigger {
	cursor: pointer;
} 

.cbp-ntaccordion h3 {
	margin: 0 0 0.3em;
	padding: 1em 0 0.5em;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
}
.cbp-ntcontent ul li {
	font-size: 14px;
}
.cbp-ntaccordion .cbp-ntcontent p {
	font-size: 15px;
	line-height: 1.5;
}

/* Arrow icons */
.cbp-ntaccordion > li > .cbp-nttrigger:before,
.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: $secondary-color;
	margin-right: 0.5em;
	-webkit-font-smoothing: antialiased;
}


.cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\3+";
}
.cbp-ntaccordion > li > .cbp-nttrigger:hover:before {
	content: "\3+";
	color: inherit;
}
.cbp-ntaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\3—";
	color: inherit;
}

.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\32";
}
.cbp-ntsubaccordion > li > .cbp-nttrigger:hover:before {
	content: "\33";
	color: inherit;
}
.cbp-ntsubaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\31";
	color: inherit;
}

/* Initial height is zero */
.cbp-ntaccordion .cbp-ntcontent {
	height: 0;
	overflow: hidden;
}

/* When open, set height to auto */
.cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
.cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
.no-js .cbp-ntaccordion .cbp-ntcontent {
	height: auto;
}

/* Example for media query */
@media screen and (max-width: 32em) { 

	.cbp-ntaccordion {
		font-size: 70%;
	}

}