.main {margin-top: 0; position: relative; left: -20px;}
.main .content {padding-top: 20px;}
h1.documentFirstHeading {display: none;}

.portlet-static-nivo {width: 100%;}
.portlet-static-nivo ul {
	width: 1190px; width: 100%; 
	margin: 0 auto;
	position: relative;
}
div.portlet-static-nivo li {
	height: 310px; overflow: hidden; margin-bottom: 0px;
}
.portlet-static-nivo ul li {float: none;}

.slider {
	height: 310px; width: 1440px; /* what it was before */
	/* max-width: 100%; width: 100%; height: auto; min-width: 960px;
	position: absolute;
	left: 0; right: 0; */
}
	.subsection-events-college-celebration .slidefeature .nivo-caption {display: none !important;}
	.subsection-events-college-celebration .slider .text {display: none;}

	.slidefeature img {
		position: absolute;
		left: 0;
		margin: auto;
	}
		.slidefeature .active img {display: none;}
	
	.slider .text {
		z-index: 500;
		position: relative;
		width: 70%;
		margin: 0px auto;
		max-width: 1300px;
		min-width: 960px;
		height: 310px;
		display: block;
		left: -20px;
	}

.spotlighttext {
	position: absolute;
	display: block;
	width: 480px;
	font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	text-align: left;
	left: 0px; bottom: 0px;
}
.spotlighttext img {
	float: left;
	width: 100%;
}
.spotlighttext h4 {
	height: 12px;
	padding: 10px 12px 4px;
	margin-top: 0px;
	background: #a1770f;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .6em;
	letter-spacing: 2px;
	color: #fff;
}
.spotlighttext h2 {
	margin-top: .6em;
	padding: 0px 10px 12px;
	letter-spacing: .5px;
}


.main .news .box.article h4 {font-size: 1em;}
.main .content .portlet-collection-news h4 {font-size: 1.2em;}



/*   custom pages   */

.subsection-overview-visit .slider {width: auto; overflow: hidden;}
.subsection-overview-visit .slider p {margin: 0;}
.subsection-future-academics-majors .main .content,
.subsection-dept .main .content, .subsection-facilities .main .content {min-height: 1300px;}
.subsection-centers .main .content {min-height: 800px;}



/* ---- "media queries" ----- 
@media (max-width: 1020px) {
	.slider {width: 100%;}
	.slider .text {
		width: 100%;
	}
	.portlet-static-nivo .static.text .nivo-caption, 
	.portlet-static-nivo .static.text .spotlighttext {
		left: 20px;
	}
}
*/
