// Shared styles and dependencies
// Globaly used variables, mixins, and functions


// Metrics


// Typography
	$futura:			"futura-pt", Futura Std, Futura, Arial, sans-serif;
	$sans-serif:		Helvetica Neue, Helvetica Std, Helvetica, Univers, Arial, sans-serif;
	$serif:				Georgia, Berkeley, serif;
	$monospace:			Monaco, "Courier New", Courier, monospace;

	// [Compass] Vertical rhythm set up
	// Change these values to whatever you want for your proj
	// $base-font-size:				16px;
	// $base-line-height:				24px;
	// $default-rhythm-border-style:	solid;
	// $relative-font-sizing:			true;

// Colors
	// The UC Davis standard colors

	$primary-color:		#002855; // h1,h2,h3,h4 banner colors
	$secondary-color:	#bb9207; // accent color, a hovers, underlines
	$dark-gray:			#333433; // p,li color in main content
	$middle-gray: 		#515151; // p,li color in portlet/sidebar
	$light-gray:		#9b9b9b; // summary, discreet

	$background-color:	#ebebeb; // background
	$boxcolor:			#ffffff; //	content boxs
	$borders:			#dddddd; // border color


// variables yo!
	$max-width: 1200px;

// mixins yo!

// typographys //
@mixin georgiareg /*h1,h2,h3,h4.h5*/ {
	font-family: Georgia,Berkeley,serif;
	font-style: normal;
	font-weight: 500;
}
@mixin georgiabold /*byline*/ {
	font-family: "garamond-premier-pro-display",serif;
	font-style: normal;
	font-weight: 700;
}
@mixin futuralight {
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 300;
}
@mixin futurabook /*p,li*/ {
	font-family: "futura-pt", Futura Std, Futura, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}
@mixin futurabold /* Portlet header */ {
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 600;
}

// structure //
@mixin outer-container {
  width:80%;
  max-width: $max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin contentbox {
	background-color:#ffffff;
	overflow: auto;
	width: 100%;
	border:solid 1px $borders;
	padding: 1em;
	margin: 1em 0;
	height:auto;
	vertical-align:top;
}
@mixin transitiontime {
	transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.25s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
}
@mixin navtrans {
	-webkit-transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
	-webkit-transition-delay: 0, 0;
	-moz-transition: left 0.3s ease-in-out 0, right 0.3s ease-in-out 0;
	-moz-transition-delay: 0, 0;
	-o-transition: left 0.3s ease-in-out 0, right 0.3s ease-in-out 0;
	transition: left 0.3s ease-in-out 0, right 0.3s ease-in-out 0;
}




